
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{{url_for('index')}}" class="{{"nav-link active" if request.path =="/" else "nav-link"}}" aria-current="page">小鷹窩</a ></li>
        <li class="nav-item"><a href="{{url_for('products')}}" class="{{"nav-link active" if request.path =="/products" else "nav-link"}}">可愛的產品</a></li>
        <li class="nav-item"><a href="{{url_for('pricing')}}" class="{{"nav-link active" if request.path =="/pricing" else "nav-link"}}">小鷹市集價格</a></li>
        <li class="nav-item"><a href="{{url_for('auth.login')}}" class="{{"nav-link active" if request.path =="/auth/login" else "nav-link"}}">登入你的可愛</a></li>
        <li class="nav-item"><a href="/dash" class="{{"nav-link active" if request.path =="/dash" else "nav-link"}}">Dash</a></li>
      </ul>